input[type="number"] {
  width: 3em;
}

body{
  background-image: url(images/hollywood.jpg);

}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: Kefa;
  font-size: 50px;
}

#explanation{
  background-color: rgba(220,220,220,0.2);
  text-align: center;
  color: #ffffff;
  font-family: Kefa;
  font-size: large;
}

.link{
  color: white;
  font-size: 22px;
}

.outputList{
  color: pink;
}

#text{
  display: block;
  margin-left: auto ;
  margin-right: auto;
}

#button{
  margin-top: 1em;
  display: block;
  margin-left: auto ;
  margin-right: auto;
}

#errorMessage{
  color:red;
  margin-left: 2em;
}





